* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
html {
    height:100%;
}
body {
    min-height:100%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap-reverse;
    align-items:center;
    font-size:16px;
    background:#ECE9E6;
}
#canvas {
    border:1px solid black;
    height:min(calc(100vh - 6px), calc(100vw - 6px), 700px);
    background:white;
}
#canvas-container {
    position:relative;
}
#zoom-container {
    position:absolute;
    display:flex;
    flex-direction:column;
    top:10px;
    right:10px;
    width:2.5em;
}
#zoom-container button {
    height:2.5em;
    font-size:2em;
    border:2px solid black;
}
#zoom-container button:first-child {
    border-bottom:0;
    color:gray;
}
#functions-container {
    height:100vh;
}
#functions-container form {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:space-evenly;
}
#functions-container form div {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin:0 2.5em;
}
#functions-container form div label {
    font-size:1.25em;
    font-style:italic;
    margin-right:1em;
}
.function-input {
    height:1.75em;
    border:1px solid black;
    font-size:1.25em;
}
.function-input:focus {
    outline:1px solid black;
}
.function-input.error {
    border:1px solid red;
}
.function-input.error:focus {
    outline:1px solid red;
}
@media only screen and (max-width: 450px) {
    body {
        font-size:12px;
    }
    #functions-container form div {
        margin:0;
    }
    #functions-container form div label {
        font-size:1.5em;
    }
}
@media only screen and (max-width: 320px) {
    body {
        font-size:10px;
    }
}
@media only screen and (min-width: 2500px) {
    body {
        font-size:32px;
    }
}